<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem
    consequuntur quis facilis temporibus corporis dolores animi quos culpa
    veniam magnam reprehenderit perspiciatis fugiat ad ea nulla aliquam, atque
    asperiores!
  </p>
  <div class="media">
    <div class="media__image quote__image">
      <svg class="icon icon--primary">
        <use xlink:href="/images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote__author">John Daniel</h3>
      <p class="quote__organization">Triple J Company CEO</p>
    </div>
  </div>
</blockquote>
